body {
	background-color: beige;
}

table {
	background-color: white;
	width: 100%;
	max-width: 700px;
	min-height: 500px;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	margin: 20px auto;
}

caption {
	background-color: rgb(236, 221, 20);
	border: 3px solid;
	border-bottom: none;
	font-size: 32px;
	font-weight: 700;
	padding: 10px 0;
}

th {
	border: 3px solid;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	padding: 7px 0;
}

td {
	border: 3px solid;
	text-align: center;
	font-size: 36px;
	font-weight: 400;
}

.weekend {
	color: red;
	border-color: black;
}
